.details-card
    border: 1px solid var(--card-border)
    border-radius: 5px
    padding: 5px
    box-sizing: border-box
    display: grid
    grid-template-columns: 30% 70%
    gap: 5px
    height: 230px

    > .poster
        display: block
        max-width: 100%

    > .details
        overflow: hidden
        height: 100%
        scrollbar-width: thin
        scrollbar-color: var(--scrollbar-fg) var(--scrollbar-bg)

        &:hover
            overflow-y: auto

        &::-webkit-scrollbar
            width: 5px
            background-color: var(--scrollbar-bg)

            &-thumb
                background-color: var(--scrollbar-fg)

        > .title
            font-size: 16pt
            font-weight: bold