<form class="search-form" ngNativeValidate>
	<input
		type="search"
		[(ngModel)]="searchQuery"
		name="searchQuery"
		class="searchfield"
		required
	/>
	<button
		type="submit"
		class="searchsubmit material-symbols-outlined"
		title="Search"
	>
		search
	</button>
	<button
		type="reset"
		class="searchreset material-symbols-outlined"
		title="Clear"
	>
		close
	</button>
</form>

<div class="search-results">
	<app-card
		*ngFor="let movie of fakeData"
		[poster]="movie.poster"
		[title]="movie.title"
		[releaseDate]="movie.releaseDate"
		[overview]="movie.overview"
	></app-card>
</div>
