.search-results {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px;
  padding: 8px;
  margin: auto;
  width: min(100%, 1000px);
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }
}

.search-pagination {
  display: flex;
  justify-content: center;
}
