@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')

body
    margin: 0
    padding: 0
    font-family: var(--sans-serif)
    font-size: 12pt
    background-color: var(--page-background)
    color: var(--text-color)

._nomargin
    margin: 0
