body
    --sans-serif: 'Quattrocento Sans',sans-serif
    --serif: 'Merriweather',serif

    &.lightmode
        --page-background: #EEE
        --text-color: #000
        --card-border: #000
        --scrollbar-bg: #CCC
        --scrollbar-fg: #555
    
    &.darkmode
        --page-background: #222
        --text-color: #FFF
        --card-border: #FFF
        --scrollbar-bg: #444
        --scrollbar-fg: #AAA

